@import url("https://themes.googleusercontent.com/fonts/css?kit=0q-JaFCJuohwd-2kjlPMqg");
.lst-kix_ab2qs3xx36c7-6 > li {
    counter-increment: lst-ctn-kix_ab2qs3xx36c7-6;
}
ol.lst-kix_k179lp8bc9vm-7.start {
    counter-reset: lst-ctn-kix_k179lp8bc9vm-7 0;
}
ol.lst-kix_ab2qs3xx36c7-8 {
    list-style-type: none;
}
.lst-kix_rvhjognh1tan-3 > li {
    counter-increment: lst-ctn-kix_rvhjognh1tan-3;
}
ol.lst-kix_rvhjognh1tan-1.start {
    counter-reset: lst-ctn-kix_rvhjognh1tan-1 0;
}
ol.lst-kix_ab2qs3xx36c7-4 {
    list-style-type: none;
}
ol.lst-kix_ab2qs3xx36c7-5 {
    list-style-type: none;
}
ol.lst-kix_ab2qs3xx36c7-6 {
    list-style-type: none;
}
ol.lst-kix_ab2qs3xx36c7-7 {
    list-style-type: none;
}
ol.lst-kix_ab2qs3xx36c7-0 {
    list-style-type: none;
}
ol.lst-kix_ab2qs3xx36c7-1 {
    list-style-type: none;
}
ol.lst-kix_ab2qs3xx36c7-2 {
    list-style-type: none;
}
ol.lst-kix_ab2qs3xx36c7-3 {
    list-style-type: none;
}
ol.lst-kix_biu55abuosyw-7.start {
    counter-reset: lst-ctn-kix_biu55abuosyw-7 0;
}
ol.lst-kix_k179lp8bc9vm-8 {
    list-style-type: none;
}
ol.lst-kix_k179lp8bc9vm-7 {
    list-style-type: none;
}
ol.lst-kix_k179lp8bc9vm-6 {
    list-style-type: none;
}
ol.lst-kix_k179lp8bc9vm-5 {
    list-style-type: none;
}
.lst-kix_k179lp8bc9vm-6 > li {
    counter-increment: lst-ctn-kix_k179lp8bc9vm-6;
}
ol.lst-kix_k179lp8bc9vm-4 {
    list-style-type: none;
}
ol.lst-kix_nmaeqn4figtf-1.start {
    counter-reset: lst-ctn-kix_nmaeqn4figtf-1 0;
}
ol.lst-kix_kn3rp7cf1j4e-7.start {
    counter-reset: lst-ctn-kix_kn3rp7cf1j4e-7 0;
}
ol.lst-kix_rvhjognh1tan-7.start {
    counter-reset: lst-ctn-kix_rvhjognh1tan-7 0;
}
ol.lst-kix_ab2qs3xx36c7-0.start {
    counter-reset: lst-ctn-kix_ab2qs3xx36c7-0 0;
}
.lst-kix_kn3rp7cf1j4e-0 > li {
    counter-increment: lst-ctn-kix_kn3rp7cf1j4e-0;
}
ol.lst-kix_kn3rp7cf1j4e-1.start {
    counter-reset: lst-ctn-kix_kn3rp7cf1j4e-1 0;
}
.lst-kix_ab2qs3xx36c7-4 > li {
    counter-increment: lst-ctn-kix_ab2qs3xx36c7-4;
}
.lst-kix_k179lp8bc9vm-4 > li {
    counter-increment: lst-ctn-kix_k179lp8bc9vm-4;
}
.lst-kix_biu55abuosyw-8 > li {
    counter-increment: lst-ctn-kix_biu55abuosyw-8;
}
ol.lst-kix_biu55abuosyw-1.start {
    counter-reset: lst-ctn-kix_biu55abuosyw-1 0;
}
ol.lst-kix_iwwpu7dmjxex-7.start {
    counter-reset: lst-ctn-kix_iwwpu7dmjxex-7 0;
}
.lst-kix_nmaeqn4figtf-5 > li {
    counter-increment: lst-ctn-kix_nmaeqn4figtf-5;
}
.lst-kix_k179lp8bc9vm-2 > li {
    counter-increment: lst-ctn-kix_k179lp8bc9vm-2;
}
ol.lst-kix_rvhjognh1tan-6.start {
    counter-reset: lst-ctn-kix_rvhjognh1tan-6 0;
}
.lst-kix_biu55abuosyw-8 > li:before {
    content: "" counter(lst-ctn-kix_biu55abuosyw-8, decimal) ". ";
}
ol.lst-kix_ab2qs3xx36c7-6.start {
    counter-reset: lst-ctn-kix_ab2qs3xx36c7-6 0;
}
.lst-kix_rvhjognh1tan-5 > li {
    counter-increment: lst-ctn-kix_rvhjognh1tan-5;
}
.lst-kix_nmaeqn4figtf-0 > li {
    counter-increment: lst-ctn-kix_nmaeqn4figtf-0;
}
.lst-kix_iwwpu7dmjxex-8 > li {
    counter-increment: lst-ctn-kix_iwwpu7dmjxex-8;
}
.lst-kix_biu55abuosyw-6 > li {
    counter-increment: lst-ctn-kix_biu55abuosyw-6;
}
ol.lst-kix_ab2qs3xx36c7-5.start {
    counter-reset: lst-ctn-kix_ab2qs3xx36c7-5 0;
}
ol.lst-kix_kn3rp7cf1j4e-6.start {
    counter-reset: lst-ctn-kix_kn3rp7cf1j4e-6 0;
}
ol.lst-kix_k179lp8bc9vm-3 {
    list-style-type: none;
}
ol.lst-kix_k179lp8bc9vm-2 {
    list-style-type: none;
}
ol.lst-kix_k179lp8bc9vm-1 {
    list-style-type: none;
}
ol.lst-kix_k179lp8bc9vm-0 {
    list-style-type: none;
}
ol.lst-kix_biu55abuosyw-6.start {
    counter-reset: lst-ctn-kix_biu55abuosyw-6 0;
}
.lst-kix_kn3rp7cf1j4e-2 > li {
    counter-increment: lst-ctn-kix_kn3rp7cf1j4e-2;
}
.lst-kix_k179lp8bc9vm-8 > li {
    counter-increment: lst-ctn-kix_k179lp8bc9vm-8;
}
.lst-kix_ab2qs3xx36c7-5 > li:before {
    content: "" counter(lst-ctn-kix_ab2qs3xx36c7-5, decimal) ". ";
}
.lst-kix_ab2qs3xx36c7-0 > li {
    counter-increment: lst-ctn-kix_ab2qs3xx36c7-0;
}
ol.lst-kix_rvhjognh1tan-8.start {
    counter-reset: lst-ctn-kix_rvhjognh1tan-8 0;
}
.lst-kix_ab2qs3xx36c7-1 > li:before {
    content: "" counter(lst-ctn-kix_ab2qs3xx36c7-1, lower-roman) ". ";
}
.lst-kix_ab2qs3xx36c7-3 > li:before {
    content: "" counter(lst-ctn-kix_ab2qs3xx36c7-3, lower-latin) ". ";
}
ol.lst-kix_ab2qs3xx36c7-4.start {
    counter-reset: lst-ctn-kix_ab2qs3xx36c7-4 0;
}
ol.lst-kix_ab2qs3xx36c7-1.start {
    counter-reset: lst-ctn-kix_ab2qs3xx36c7-1 0;
}
.lst-kix_nmaeqn4figtf-3 > li {
    counter-increment: lst-ctn-kix_nmaeqn4figtf-3;
}
.lst-kix_nmaeqn4figtf-6 > li:before {
    content: "" counter(lst-ctn-kix_nmaeqn4figtf-6, lower-latin) ". ";
}
.lst-kix_ab2qs3xx36c7-7 > li:before {
    content: "" counter(lst-ctn-kix_ab2qs3xx36c7-7, lower-roman) ". ";
}
.lst-kix_nmaeqn4figtf-8 > li:before {
    content: "" counter(lst-ctn-kix_nmaeqn4figtf-8, decimal) ". ";
}
.lst-kix_nmaeqn4figtf-2 > li:before {
    content: "" counter(lst-ctn-kix_nmaeqn4figtf-2, decimal) ". ";
}
ol.lst-kix_nmaeqn4figtf-2.start {
    counter-reset: lst-ctn-kix_nmaeqn4figtf-2 0;
}
.lst-kix_biu55abuosyw-0 > li {
    counter-increment: lst-ctn-kix_biu55abuosyw-0;
}
ol.lst-kix_iwwpu7dmjxex-3.start {
    counter-reset: lst-ctn-kix_iwwpu7dmjxex-3 0;
}
ol.lst-kix_biu55abuosyw-8.start {
    counter-reset: lst-ctn-kix_biu55abuosyw-8 0;
}
.lst-kix_nmaeqn4figtf-4 > li:before {
    content: "" counter(lst-ctn-kix_nmaeqn4figtf-4, lower-roman) ". ";
}
ol.lst-kix_iwwpu7dmjxex-0.start {
    counter-reset: lst-ctn-kix_iwwpu7dmjxex-0 0;
}
.lst-kix_iwwpu7dmjxex-8 > li:before {
    content: "" counter(lst-ctn-kix_iwwpu7dmjxex-8, decimal) ". ";
}
ol.lst-kix_kn3rp7cf1j4e-8.start {
    counter-reset: lst-ctn-kix_kn3rp7cf1j4e-8 0;
}
.lst-kix_biu55abuosyw-2 > li {
    counter-increment: lst-ctn-kix_biu55abuosyw-2;
}
ol.lst-kix_rvhjognh1tan-7 {
    list-style-type: none;
}
ol.lst-kix_rvhjognh1tan-8 {
    list-style-type: none;
}
ol.lst-kix_rvhjognh1tan-3 {
    list-style-type: none;
}
ol.lst-kix_rvhjognh1tan-4 {
    list-style-type: none;
}
ol.lst-kix_k179lp8bc9vm-6.start {
    counter-reset: lst-ctn-kix_k179lp8bc9vm-6 0;
}
ol.lst-kix_rvhjognh1tan-5 {
    list-style-type: none;
}
ol.lst-kix_rvhjognh1tan-6 {
    list-style-type: none;
}
.lst-kix_nmaeqn4figtf-0 > li:before {
    content: "" counter(lst-ctn-kix_nmaeqn4figtf-0, lower-latin) ". ";
}
.lst-kix_biu55abuosyw-6 > li:before {
    content: "" counter(lst-ctn-kix_biu55abuosyw-6, lower-latin) ". ";
}
ol.lst-kix_rvhjognh1tan-0 {
    list-style-type: none;
}
ol.lst-kix_rvhjognh1tan-1 {
    list-style-type: none;
}
ol.lst-kix_rvhjognh1tan-2 {
    list-style-type: none;
}
ol.lst-kix_iwwpu7dmjxex-2 {
    list-style-type: none;
}
.lst-kix_biu55abuosyw-4 > li:before {
    content: "" counter(lst-ctn-kix_biu55abuosyw-4, lower-roman) ". ";
}
ol.lst-kix_iwwpu7dmjxex-3 {
    list-style-type: none;
}
ol.lst-kix_iwwpu7dmjxex-0 {
    list-style-type: none;
}
ol.lst-kix_nmaeqn4figtf-0 {
    list-style-type: none;
}
ol.lst-kix_iwwpu7dmjxex-1 {
    list-style-type: none;
}
.lst-kix_kn3rp7cf1j4e-4 > li {
    counter-increment: lst-ctn-kix_kn3rp7cf1j4e-4;
}
ol.lst-kix_nmaeqn4figtf-2 {
    list-style-type: none;
}
ol.lst-kix_nmaeqn4figtf-1 {
    list-style-type: none;
}
ol.lst-kix_nmaeqn4figtf-4 {
    list-style-type: none;
}
ol.lst-kix_nmaeqn4figtf-3 {
    list-style-type: none;
}
.lst-kix_biu55abuosyw-0 > li:before {
    content: "" counter(lst-ctn-kix_biu55abuosyw-0, lower-latin) ". ";
}
.lst-kix_iwwpu7dmjxex-1 > li {
    counter-increment: lst-ctn-kix_iwwpu7dmjxex-1;
}
.lst-kix_biu55abuosyw-2 > li:before {
    content: "" counter(lst-ctn-kix_biu55abuosyw-2, decimal) ". ";
}
.lst-kix_iwwpu7dmjxex-0 > li {
    counter-increment: lst-ctn-kix_iwwpu7dmjxex-0;
}
.lst-kix_iwwpu7dmjxex-6 > li {
    counter-increment: lst-ctn-kix_iwwpu7dmjxex-6;
}
.lst-kix_k179lp8bc9vm-3 > li {
    counter-increment: lst-ctn-kix_k179lp8bc9vm-3;
}
ol.lst-kix_iwwpu7dmjxex-1.start {
    counter-reset: lst-ctn-kix_iwwpu7dmjxex-1 0;
}
.lst-kix_iwwpu7dmjxex-7 > li {
    counter-increment: lst-ctn-kix_iwwpu7dmjxex-7;
}
ol.lst-kix_iwwpu7dmjxex-8 {
    list-style-type: none;
}
ol.lst-kix_iwwpu7dmjxex-6 {
    list-style-type: none;
}
ol.lst-kix_iwwpu7dmjxex-7 {
    list-style-type: none;
}
ol.lst-kix_iwwpu7dmjxex-4 {
    list-style-type: none;
}
ol.lst-kix_iwwpu7dmjxex-5 {
    list-style-type: none;
}
ol.lst-kix_k179lp8bc9vm-8.start {
    counter-reset: lst-ctn-kix_k179lp8bc9vm-8 0;
}
.lst-kix_kn3rp7cf1j4e-3 > li:before {
    content: "" counter(lst-ctn-kix_kn3rp7cf1j4e-3, decimal) ". ";
}
ol.lst-kix_nmaeqn4figtf-0.start {
    counter-reset: lst-ctn-kix_nmaeqn4figtf-0 0;
}
.lst-kix_kn3rp7cf1j4e-1 > li:before {
    content: "" counter(lst-ctn-kix_kn3rp7cf1j4e-1, lower-latin) ". ";
}
.lst-kix_nmaeqn4figtf-4 > li {
    counter-increment: lst-ctn-kix_nmaeqn4figtf-4;
}
.lst-kix_rvhjognh1tan-4 > li {
    counter-increment: lst-ctn-kix_rvhjognh1tan-4;
}
.lst-kix_ab2qs3xx36c7-5 > li {
    counter-increment: lst-ctn-kix_ab2qs3xx36c7-5;
}
.lst-kix_biu55abuosyw-1 > li {
    counter-increment: lst-ctn-kix_biu55abuosyw-1;
}
.lst-kix_kn3rp7cf1j4e-7 > li:before {
    content: "" counter(lst-ctn-kix_kn3rp7cf1j4e-7, lower-latin) ". ";
}
ol.lst-kix_iwwpu7dmjxex-2.start {
    counter-reset: lst-ctn-kix_iwwpu7dmjxex-2 0;
}
ol.lst-kix_nmaeqn4figtf-6 {
    list-style-type: none;
}
ol.lst-kix_nmaeqn4figtf-5 {
    list-style-type: none;
}
ol.lst-kix_nmaeqn4figtf-8 {
    list-style-type: none;
}
ol.lst-kix_nmaeqn4figtf-7 {
    list-style-type: none;
}
ol.lst-kix_ab2qs3xx36c7-2.start {
    counter-reset: lst-ctn-kix_ab2qs3xx36c7-2 0;
}
.lst-kix_kn3rp7cf1j4e-5 > li:before {
    content: "" counter(lst-ctn-kix_kn3rp7cf1j4e-5, lower-roman) ". ";
}
.lst-kix_k179lp8bc9vm-5 > li {
    counter-increment: lst-ctn-kix_k179lp8bc9vm-5;
}
ol.lst-kix_kn3rp7cf1j4e-0 {
    list-style-type: none;
}
ol.lst-kix_biu55abuosyw-4.start {
    counter-reset: lst-ctn-kix_biu55abuosyw-4 0;
}
.lst-kix_biu55abuosyw-7 > li {
    counter-increment: lst-ctn-kix_biu55abuosyw-7;
}
.lst-kix_exrzzng8rsze-3 > li:before {
    content: "-  ";
}
ol.lst-kix_ab2qs3xx36c7-8.start {
    counter-reset: lst-ctn-kix_ab2qs3xx36c7-8 0;
}
ol.lst-kix_nmaeqn4figtf-4.start {
    counter-reset: lst-ctn-kix_nmaeqn4figtf-4 0;
}
.lst-kix_exrzzng8rsze-1 > li:before {
    content: "-  ";
}
.lst-kix_exrzzng8rsze-2 > li:before {
    content: "-  ";
}
ol.lst-kix_kn3rp7cf1j4e-4 {
    list-style-type: none;
}
.lst-kix_rvhjognh1tan-2 > li {
    counter-increment: lst-ctn-kix_rvhjognh1tan-2;
}
ol.lst-kix_kn3rp7cf1j4e-3 {
    list-style-type: none;
}
.lst-kix_exrzzng8rsze-0 > li:before {
    content: "-  ";
}
ol.lst-kix_kn3rp7cf1j4e-2 {
    list-style-type: none;
}
ol.lst-kix_kn3rp7cf1j4e-1 {
    list-style-type: none;
}
.lst-kix_kn3rp7cf1j4e-1 > li {
    counter-increment: lst-ctn-kix_kn3rp7cf1j4e-1;
}
ol.lst-kix_kn3rp7cf1j4e-8 {
    list-style-type: none;
}
ol.lst-kix_kn3rp7cf1j4e-7 {
    list-style-type: none;
}
ol.lst-kix_kn3rp7cf1j4e-6 {
    list-style-type: none;
}
ol.lst-kix_rvhjognh1tan-4.start {
    counter-reset: lst-ctn-kix_rvhjognh1tan-4 0;
}
ol.lst-kix_kn3rp7cf1j4e-5 {
    list-style-type: none;
}
.lst-kix_rvhjognh1tan-5 > li:before {
    content: "" counter(lst-ctn-kix_rvhjognh1tan-5, decimal) ". ";
}
.lst-kix_rvhjognh1tan-6 > li:before {
    content: "" counter(lst-ctn-kix_rvhjognh1tan-6, lower-latin) ". ";
}
.lst-kix_rvhjognh1tan-4 > li:before {
    content: "" counter(lst-ctn-kix_rvhjognh1tan-4, lower-roman) ". ";
}
ol.lst-kix_kn3rp7cf1j4e-4.start {
    counter-reset: lst-ctn-kix_kn3rp7cf1j4e-4 0;
}
ol.lst-kix_ab2qs3xx36c7-3.start {
    counter-reset: lst-ctn-kix_ab2qs3xx36c7-3 0;
}
.lst-kix_kn3rp7cf1j4e-3 > li {
    counter-increment: lst-ctn-kix_kn3rp7cf1j4e-3;
}
.lst-kix_rvhjognh1tan-1 > li:before {
    content: "" counter(lst-ctn-kix_rvhjognh1tan-1, lower-roman) ". ";
}
.lst-kix_rvhjognh1tan-2 > li:before {
    content: "" counter(lst-ctn-kix_rvhjognh1tan-2, decimal) ". ";
}
.lst-kix_ab2qs3xx36c7-7 > li {
    counter-increment: lst-ctn-kix_ab2qs3xx36c7-7;
}
.lst-kix_rvhjognh1tan-3 > li:before {
    content: "" counter(lst-ctn-kix_rvhjognh1tan-3, lower-latin) ". ";
}
.lst-kix_rvhjognh1tan-0 > li:before {
    content: "" counter(lst-ctn-kix_rvhjognh1tan-0, lower-latin) ". ";
}
.lst-kix_biu55abuosyw-5 > li {
    counter-increment: lst-ctn-kix_biu55abuosyw-5;
}
.lst-kix_nmaeqn4figtf-8 > li {
    counter-increment: lst-ctn-kix_nmaeqn4figtf-8;
}
ol.lst-kix_kn3rp7cf1j4e-5.start {
    counter-reset: lst-ctn-kix_kn3rp7cf1j4e-5 0;
}
.lst-kix_ab2qs3xx36c7-3 > li {
    counter-increment: lst-ctn-kix_ab2qs3xx36c7-3;
}
.lst-kix_k179lp8bc9vm-2 > li:before {
    content: "" counter(lst-ctn-kix_k179lp8bc9vm-2, lower-roman) ". ";
}
.lst-kix_k179lp8bc9vm-3 > li:before {
    content: "" counter(lst-ctn-kix_k179lp8bc9vm-3, decimal) ". ";
}
.lst-kix_rvhjognh1tan-6 > li {
    counter-increment: lst-ctn-kix_rvhjognh1tan-6;
}
ol.lst-kix_iwwpu7dmjxex-4.start {
    counter-reset: lst-ctn-kix_iwwpu7dmjxex-4 0;
}
.lst-kix_k179lp8bc9vm-1 > li:before {
    content: "" counter(lst-ctn-kix_k179lp8bc9vm-1, lower-latin) ". ";
}
.lst-kix_k179lp8bc9vm-5 > li:before {
    content: "" counter(lst-ctn-kix_k179lp8bc9vm-5, lower-roman) ". ";
}
ol.lst-kix_nmaeqn4figtf-3.start {
    counter-reset: lst-ctn-kix_nmaeqn4figtf-3 0;
}
ul.lst-kix_exrzzng8rsze-5 {
    list-style-type: none;
}
ul.lst-kix_exrzzng8rsze-6 {
    list-style-type: none;
}
ul.lst-kix_exrzzng8rsze-7 {
    list-style-type: none;
}
ul.lst-kix_exrzzng8rsze-8 {
    list-style-type: none;
}
.lst-kix_k179lp8bc9vm-4 > li:before {
    content: "" counter(lst-ctn-kix_k179lp8bc9vm-4, lower-latin) ". ";
}
.lst-kix_iwwpu7dmjxex-0 > li:before {
    content: "" counter(lst-ctn-kix_iwwpu7dmjxex-0, lower-latin) ". ";
}
.lst-kix_iwwpu7dmjxex-3 > li:before {
    content: "" counter(lst-ctn-kix_iwwpu7dmjxex-3, lower-latin) ". ";
}
ul.lst-kix_exrzzng8rsze-0 {
    list-style-type: none;
}
.lst-kix_iwwpu7dmjxex-1 > li:before {
    content: "" counter(lst-ctn-kix_iwwpu7dmjxex-1, lower-roman) ". ";
}
.lst-kix_iwwpu7dmjxex-5 > li:before {
    content: "" counter(lst-ctn-kix_iwwpu7dmjxex-5, decimal) ". ";
}
ul.lst-kix_exrzzng8rsze-1 {
    list-style-type: none;
}
ul.lst-kix_exrzzng8rsze-2 {
    list-style-type: none;
}
.lst-kix_iwwpu7dmjxex-2 > li:before {
    content: "" counter(lst-ctn-kix_iwwpu7dmjxex-2, decimal) ". ";
}
.lst-kix_iwwpu7dmjxex-6 > li:before {
    content: "" counter(lst-ctn-kix_iwwpu7dmjxex-6, lower-latin) ". ";
}
ul.lst-kix_exrzzng8rsze-3 {
    list-style-type: none;
}
ul.lst-kix_exrzzng8rsze-4 {
    list-style-type: none;
}
ol.lst-kix_biu55abuosyw-5.start {
    counter-reset: lst-ctn-kix_biu55abuosyw-5 0;
}
ol.lst-kix_k179lp8bc9vm-5.start {
    counter-reset: lst-ctn-kix_k179lp8bc9vm-5 0;
}
.lst-kix_rvhjognh1tan-7 > li:before {
    content: "" counter(lst-ctn-kix_rvhjognh1tan-7, lower-roman) ". ";
}
.lst-kix_k179lp8bc9vm-0 > li:before {
    content: "" counter(lst-ctn-kix_k179lp8bc9vm-0, decimal) ". ";
}
.lst-kix_nmaeqn4figtf-6 > li {
    counter-increment: lst-ctn-kix_nmaeqn4figtf-6;
}
.lst-kix_biu55abuosyw-3 > li {
    counter-increment: lst-ctn-kix_biu55abuosyw-3;
}
.lst-kix_iwwpu7dmjxex-4 > li:before {
    content: "" counter(lst-ctn-kix_iwwpu7dmjxex-4, lower-roman) ". ";
}
.lst-kix_iwwpu7dmjxex-5 > li {
    counter-increment: lst-ctn-kix_iwwpu7dmjxex-5;
}
.lst-kix_rvhjognh1tan-8 > li:before {
    content: "" counter(lst-ctn-kix_rvhjognh1tan-8, decimal) ". ";
}
.lst-kix_iwwpu7dmjxex-2 > li {
    counter-increment: lst-ctn-kix_iwwpu7dmjxex-2;
}
ol.lst-kix_iwwpu7dmjxex-5.start {
    counter-reset: lst-ctn-kix_iwwpu7dmjxex-5 0;
}
.lst-kix_kn3rp7cf1j4e-5 > li {
    counter-increment: lst-ctn-kix_kn3rp7cf1j4e-5;
}
ol.lst-kix_biu55abuosyw-1 {
    list-style-type: none;
}
ol.lst-kix_biu55abuosyw-2 {
    list-style-type: none;
}
.lst-kix_exrzzng8rsze-4 > li:before {
    content: "-  ";
}
ol.lst-kix_biu55abuosyw-0 {
    list-style-type: none;
}
ol.lst-kix_biu55abuosyw-5 {
    list-style-type: none;
}
ol.lst-kix_biu55abuosyw-6 {
    list-style-type: none;
}
.lst-kix_exrzzng8rsze-5 > li:before {
    content: "-  ";
}
.lst-kix_exrzzng8rsze-6 > li:before {
    content: "-  ";
}
ol.lst-kix_biu55abuosyw-3 {
    list-style-type: none;
}
ol.lst-kix_rvhjognh1tan-5.start {
    counter-reset: lst-ctn-kix_rvhjognh1tan-5 0;
}
ol.lst-kix_biu55abuosyw-4 {
    list-style-type: none;
}
ol.lst-kix_k179lp8bc9vm-4.start {
    counter-reset: lst-ctn-kix_k179lp8bc9vm-4 0;
}
.lst-kix_k179lp8bc9vm-6 > li:before {
    content: "" counter(lst-ctn-kix_k179lp8bc9vm-6, decimal) ". ";
}
.lst-kix_k179lp8bc9vm-7 > li:before {
    content: "" counter(lst-ctn-kix_k179lp8bc9vm-7, lower-latin) ". ";
}
.lst-kix_exrzzng8rsze-7 > li:before {
    content: "-  ";
}
.lst-kix_exrzzng8rsze-8 > li:before {
    content: "-  ";
}
ol.lst-kix_biu55abuosyw-7 {
    list-style-type: none;
}
.lst-kix_ab2qs3xx36c7-0 > li:before {
    content: "" counter(lst-ctn-kix_ab2qs3xx36c7-0, lower-latin) ". ";
}
ol.lst-kix_biu55abuosyw-8 {
    list-style-type: none;
}
.lst-kix_k179lp8bc9vm-8 > li:before {
    content: "" counter(lst-ctn-kix_k179lp8bc9vm-8, lower-roman) ". ";
}
.lst-kix_ab2qs3xx36c7-4 > li:before {
    content: "" counter(lst-ctn-kix_ab2qs3xx36c7-4, lower-roman) ". ";
}
.lst-kix_ab2qs3xx36c7-6 > li:before {
    content: "" counter(lst-ctn-kix_ab2qs3xx36c7-6, lower-latin) ". ";
}
.lst-kix_kn3rp7cf1j4e-7 > li {
    counter-increment: lst-ctn-kix_kn3rp7cf1j4e-7;
}
.lst-kix_iwwpu7dmjxex-4 > li {
    counter-increment: lst-ctn-kix_iwwpu7dmjxex-4;
}
.lst-kix_ab2qs3xx36c7-2 > li:before {
    content: "" counter(lst-ctn-kix_ab2qs3xx36c7-2, decimal) ". ";
}
ol.lst-kix_kn3rp7cf1j4e-0.start {
    counter-reset: lst-ctn-kix_kn3rp7cf1j4e-0 0;
}
.lst-kix_nmaeqn4figtf-2 > li {
    counter-increment: lst-ctn-kix_nmaeqn4figtf-2;
}
ol.lst-kix_nmaeqn4figtf-8.start {
    counter-reset: lst-ctn-kix_nmaeqn4figtf-8 0;
}
.lst-kix_kn3rp7cf1j4e-8 > li {
    counter-increment: lst-ctn-kix_kn3rp7cf1j4e-8;
}
.lst-kix_iwwpu7dmjxex-3 > li {
    counter-increment: lst-ctn-kix_iwwpu7dmjxex-3;
}
ol.lst-kix_iwwpu7dmjxex-6.start {
    counter-reset: lst-ctn-kix_iwwpu7dmjxex-6 0;
}
ol.lst-kix_biu55abuosyw-0.start {
    counter-reset: lst-ctn-kix_biu55abuosyw-0 0;
}
.lst-kix_ab2qs3xx36c7-8 > li:before {
    content: "" counter(lst-ctn-kix_ab2qs3xx36c7-8, decimal) ". ";
}
.lst-kix_rvhjognh1tan-8 > li {
    counter-increment: lst-ctn-kix_rvhjognh1tan-8;
}
ol.lst-kix_k179lp8bc9vm-0.start {
    counter-reset: lst-ctn-kix_k179lp8bc9vm-0 0;
}
.lst-kix_nmaeqn4figtf-7 > li:before {
    content: "" counter(lst-ctn-kix_nmaeqn4figtf-7, lower-roman) ". ";
}
.lst-kix_k179lp8bc9vm-0 > li {
    counter-increment: lst-ctn-kix_k179lp8bc9vm-0;
}
.lst-kix_nmaeqn4figtf-1 > li:before {
    content: "" counter(lst-ctn-kix_nmaeqn4figtf-1, lower-roman) ". ";
}
.lst-kix_iwwpu7dmjxex-7 > li:before {
    content: "" counter(lst-ctn-kix_iwwpu7dmjxex-7, lower-roman) ". ";
}
.lst-kix_nmaeqn4figtf-5 > li:before {
    content: "" counter(lst-ctn-kix_nmaeqn4figtf-5, decimal) ". ";
}
.lst-kix_k179lp8bc9vm-1 > li {
    counter-increment: lst-ctn-kix_k179lp8bc9vm-1;
}
.lst-kix_nmaeqn4figtf-3 > li:before {
    content: "" counter(lst-ctn-kix_nmaeqn4figtf-3, lower-latin) ". ";
}
ol.lst-kix_k179lp8bc9vm-3.start {
    counter-reset: lst-ctn-kix_k179lp8bc9vm-3 0;
}
ol.lst-kix_ab2qs3xx36c7-7.start {
    counter-reset: lst-ctn-kix_ab2qs3xx36c7-7 0;
}
ol.lst-kix_nmaeqn4figtf-5.start {
    counter-reset: lst-ctn-kix_nmaeqn4figtf-5 0;
}
.lst-kix_ab2qs3xx36c7-1 > li {
    counter-increment: lst-ctn-kix_ab2qs3xx36c7-1;
}
ol.lst-kix_rvhjognh1tan-0.start {
    counter-reset: lst-ctn-kix_rvhjognh1tan-0 0;
}
ol.lst-kix_rvhjognh1tan-3.start {
    counter-reset: lst-ctn-kix_rvhjognh1tan-3 0;
}
.lst-kix_biu55abuosyw-7 > li:before {
    content: "" counter(lst-ctn-kix_biu55abuosyw-7, lower-roman) ". ";
}
.lst-kix_kn3rp7cf1j4e-6 > li {
    counter-increment: lst-ctn-kix_kn3rp7cf1j4e-6;
}
.lst-kix_biu55abuosyw-5 > li:before {
    content: "" counter(lst-ctn-kix_biu55abuosyw-5, decimal) ". ";
}
.lst-kix_rvhjognh1tan-0 > li {
    counter-increment: lst-ctn-kix_rvhjognh1tan-0;
}
.lst-kix_biu55abuosyw-3 > li:before {
    content: "" counter(lst-ctn-kix_biu55abuosyw-3, lower-latin) ". ";
}
ol.lst-kix_k179lp8bc9vm-2.start {
    counter-reset: lst-ctn-kix_k179lp8bc9vm-2 0;
}
ol.lst-kix_biu55abuosyw-2.start {
    counter-reset: lst-ctn-kix_biu55abuosyw-2 0;
}
.lst-kix_biu55abuosyw-4 > li {
    counter-increment: lst-ctn-kix_biu55abuosyw-4;
}
.lst-kix_biu55abuosyw-1 > li:before {
    content: "" counter(lst-ctn-kix_biu55abuosyw-1, lower-roman) ". ";
}
ol.lst-kix_kn3rp7cf1j4e-2.start {
    counter-reset: lst-ctn-kix_kn3rp7cf1j4e-2 0;
}
.lst-kix_rvhjognh1tan-1 > li {
    counter-increment: lst-ctn-kix_rvhjognh1tan-1;
}
.lst-kix_k179lp8bc9vm-7 > li {
    counter-increment: lst-ctn-kix_k179lp8bc9vm-7;
}
ol.lst-kix_nmaeqn4figtf-6.start {
    counter-reset: lst-ctn-kix_nmaeqn4figtf-6 0;
}
ol.lst-kix_k179lp8bc9vm-1.start {
    counter-reset: lst-ctn-kix_k179lp8bc9vm-1 0;
}
.lst-kix_kn3rp7cf1j4e-0 > li:before {
    content: "" counter(lst-ctn-kix_kn3rp7cf1j4e-0, decimal) ". ";
}
.lst-kix_kn3rp7cf1j4e-2 > li:before {
    content: "" counter(lst-ctn-kix_kn3rp7cf1j4e-2, lower-roman) ". ";
}
ol.lst-kix_nmaeqn4figtf-7.start {
    counter-reset: lst-ctn-kix_nmaeqn4figtf-7 0;
}
ol.lst-kix_iwwpu7dmjxex-8.start {
    counter-reset: lst-ctn-kix_iwwpu7dmjxex-8 0;
}
.lst-kix_ab2qs3xx36c7-2 > li {
    counter-increment: lst-ctn-kix_ab2qs3xx36c7-2;
}
ol.lst-kix_rvhjognh1tan-2.start {
    counter-reset: lst-ctn-kix_rvhjognh1tan-2 0;
}
li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt;
}
ol.lst-kix_biu55abuosyw-3.start {
    counter-reset: lst-ctn-kix_biu55abuosyw-3 0;
}
.lst-kix_nmaeqn4figtf-7 > li {
    counter-increment: lst-ctn-kix_nmaeqn4figtf-7;
}
.lst-kix_nmaeqn4figtf-1 > li {
    counter-increment: lst-ctn-kix_nmaeqn4figtf-1;
}
.lst-kix_kn3rp7cf1j4e-8 > li:before {
    content: "" counter(lst-ctn-kix_kn3rp7cf1j4e-8, lower-roman) ". ";
}
.lst-kix_rvhjognh1tan-7 > li {
    counter-increment: lst-ctn-kix_rvhjognh1tan-7;
}
ol.lst-kix_kn3rp7cf1j4e-3.start {
    counter-reset: lst-ctn-kix_kn3rp7cf1j4e-3 0;
}
.lst-kix_kn3rp7cf1j4e-4 > li:before {
    content: "" counter(lst-ctn-kix_kn3rp7cf1j4e-4, lower-latin) ". ";
}
.lst-kix_kn3rp7cf1j4e-6 > li:before {
    content: "" counter(lst-ctn-kix_kn3rp7cf1j4e-6, decimal) ". ";
}
.lst-kix_ab2qs3xx36c7-8 > li {
    counter-increment: lst-ctn-kix_ab2qs3xx36c7-8;
}
ol {
    margin: 0;
    padding: 0;
}
table td,
table th {
    padding: 0;
}
.c25 {
    border-right-style: solid;
    padding-top: 0pt;
    border-right-width: 1pt;
    padding-left: 2pt;
    border-left-color: #000000;
    padding-bottom: 4pt;
    line-height: 1.15;
    border-right-color: #000000;
    page-break-after: avoid;
    border-left-width: 1pt;
    border-left-style: solid;
    orphans: 2;
    widows: 2;
    text-align: left;
    padding-right: 2pt;
}
.c2 {
    padding-top: 0pt;
    border-bottom-color: #000000;
    border-bottom-width: 1pt;
    padding-bottom: 2pt;
    line-height: 1.15;
    border-bottom-style: solid;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c0 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 12pt;
}
.c24 {
    padding-top: 20pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c16 {
    color: #434343;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Montserrat";
    font-style: normal;
}
.c13 {
    padding-top: 0pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c1 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Montserrat";
    font-style: normal;
}
.c6 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 20pt;
    font-family: "Montserrat";
    font-style: normal;
}
.c17 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Montserrat";
    font-style: normal;
}
.c23 {
    margin-left: 36pt;
    padding-top: 3pt;
    padding-bottom: 0pt;
    line-height: 1;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c9 {
    margin-left: 18pt;
    padding-top: 3pt;
    padding-bottom: 0pt;
    line-height: 1;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c7 {
    margin-left: 18pt;
    padding-top: 3pt;
    padding-bottom: 4pt;
    line-height: 1;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c20 {
    padding-top: 10pt;
    padding-bottom: 0pt;
    line-height: 1;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c12 {
    padding-top: 4pt;
    padding-bottom: 0pt;
    line-height: 1;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c18 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Montserrat";
    font-style: normal;
}
.c3 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c21 {
    background-color: #ffffff;
    max-width: 538.6pt;
    padding: 28.3pt 28.3pt 28.3pt 28.3pt;
}
.c11 {
    margin-left: 21.3pt;
    padding-left: 0pt;
}
.c4 {
    color: inherit;
    text-decoration: inherit;
}
.c5 {
    margin-left: 36pt;
    padding-left: 0pt;
}
.c10 {
    padding: 0;
    margin: 0;
}
.c19 {
    font-size: 10pt;
}
.c14 {
    font-weight: 700;
}
.c15 {
    margin-left: 21.3pt;
}
.c8 {
    font-size: 11pt;
}
.c22 {
    height: 20pt;
}
.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Montserrat";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
li {
    color: #000000;
    font-size: 12pt;
    font-family: "Montserrat";
}
p {
    margin: 0;
    color: #000000;
    font-size: 12pt;
    font-family: "Montserrat";
}
h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Montserrat";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h2 {
    padding-top: 0pt;
    color: #000000;
    border-bottom-color: #000000;
    font-size: 16pt;
    padding-bottom: 2pt;
    line-height: 1.15;
    page-break-after: avoid;
    border-bottom-width: 1pt;
    font-family: "Montserrat";
    border-bottom-style: solid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h3 {
    border-right-style: solid;
    padding-top: 0pt;
    color: #434343;
    border-right-width: 1pt;
    padding-left: 2pt;
    border-left-color: #000000;
    font-size: 14pt;
    padding-bottom: 4pt;
    line-height: 1.15;
    border-right-color: #000000;
    page-break-after: avoid;
    border-left-width: 1pt;
    border-left-style: solid;
    font-family: "Montserrat";
    orphans: 2;
    widows: 2;
    text-align: left;
    padding-right: 2pt;
}
h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Montserrat";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Montserrat";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Montserrat";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left;
}
